$bg: $gray;
$color: $inputColor;

button,
.button,
input[type="button"],
input[type="submit"] {
  display: inline-block;
  vertical-align: top;
  padding: $inputSpacing;
  border: $border $bg;
  background: $bg;
  font-size: 1rem;
  line-height: 1.5;
  color: $color;
  cursor: pointer;
}

a.button {
  text-decoration: none;
}