/**
* TODO
* Fix select line-height
**/
$bg: $inputBg;
$color: $inputColor;

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="search"],
select,
label {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  color: $color;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="search"],
select {
  padding: $inputSpacing;
  border: $border $inputBorderColor;
  background: $bg;
}

$checkSize: 1.2em;

input[type="checkbox"], input[type="radio"] {
  display: none;
  & + label {
    position: relative;
    padding: $inputSpacing;
    padding-left: 0;
    border: $border transparent;
    &::before, &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
    }
    &::before {
      width: $checkSize;
      height: $checkSize;
      margin-right: .75rem;
      background: $bg;
      border: $border $inputBorderColor; // remove
    }
    &::after {
      visibility: hidden;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: $checkSize / 2;
      line-height: 1;
      text-align: center;
    }
  }

  &:checked + label {
    &::after {
      visibility: visible;
    }
  }
}

input[type="checkbox"] {
  & + label {
    &::after {
      content: '\2713';
      width: $checkSize;
      height: $checkSize;
      font-size: $checkSize;
      line-height: 1.2;
      color: $color;
    }
  }
}

input[type="radio"] {
  & + label {
    &::before, &::after {
      border-radius: 50%;
    }
    &::after {
      width: $checkSize / 2;
      height: $checkSize / 2;
      background: $color;
    }
  }
}

label {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}