.navbar {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  background: #fff;
  ul {
    list-style: none;
    &:not(:first-of-type) {
      margin-left: 1rem;
    }
    &, li {
      display: inline-block;
      vertical-align: middle;
    }
    li {
      span, a {
        padding: .375rem 0;
        margin: 0 .5rem;
        border: 1px solid transparent;
      }

      &:first-of-type {
        span, a {
          margin-left: 0;
        }
      }
      &:last-of-type {
        span, a {
          margin-right: 0;
        }
      }
    }
  }
  .logo {
    font-weight: bold;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: #333;
  }
}