table {
  width: 100%;
  border-spacing: 0;
  tr {
    th, td {
      padding: .375rem .75rem;
    }
    th {
      text-align: left;
    }
  }
  thead {
    tr {
      background: $grayDarker;
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background: $gray;
      }
    }
  }
}