h1, h2, h3, h4, h5, h6,
p {
  margin-bottom: 1rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
  &.lead {
    font-size: 1.25rem;    
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

code, pre {
  background: #000;
  color: #fff;
}
pre {
  overflow-x: scroll;
  padding: 1rem;
  font-size: .75rem;
}

blockquote {
  cite {
    &::before {
      content: '-';
      display: inline;
      margin-right: .5rem;
    }
  }
}